---
version: 2.1

jobs:
  test:
    parameters:
      ruby_image:
        type: string

    docker:
    - image: << parameters.ruby_image >>

    steps:
    - checkout
    - run: gem update --system
    - run: bundle install
    - run: bundle exec rake

workflows:
  version: 2
  client_ruby:
    jobs:
    - test:
        matrix:
          parameters:
            ruby_image:
            - cimg/ruby:3.2
            - cimg/ruby:3.3
            - cimg/ruby:3.4
            - cimg/ruby:4.0
            - jruby:9.4
            - jruby:10.0
